[project]
name = "musclemimic-models"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.8",
    "mujoco>=3.4.0",
    "scipy>=1.17.0",
]
